@mixin flex-mixin{
    ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
        align-items: center;
        width: 100%;
    }
    li{
        display: flex;
        width: 25%;
        
    }
    
}

@mixin hover-lift{
    transition: transform 350ms ease-in-out;
    box-shadow: 0 .25em .5em 0 rgba($color: black, $alpha: 0.2);

    &:hover,
    &:focus{
        transform: scale(1.05);
    }
}


@mixin carousel{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}